*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 114rem;
    margin: 0 auto; 
    padding: 0 1rem;
}
/* ============== top nav ================= */
.top_nav{
    margin-top: -150px;
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgb(5, 0, 57);
    z-index: 10;
}
.top_nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 13px;
}
.top_nav_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.top_nav_wrapper a{
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px grey;
    background: rgb(5, 0, 57);
}
.top_nav_wrapper a:hover{
    background: grey;
}
/* ============ nav bar ================== */
.nav{
    margin-top: -110px;
    position: fixed;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid grey;
    background: white;
    z-index: 10;
}
.nav_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list,
.nav_icons{
    display: flex;
}
.nav_icons a img{
    width: 30px;
    height: 30px;
    margin-left: 1rem;
    cursor: pointer;
}
.bar_icon{
    display: none;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
.nav_logo{
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(5, 0, 57);
}
.nav_item{
    margin: 0 .05rem;
}
.nav_link{
    padding: .6rem 1rem;
    color: grey;
}
.nav_link:hover{
    background: rgb(5, 0, 57);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px 0px rgb(95, 95, 95);
    color: white
}
.nav_form{
    padding: .4rem;
    background: rgb(228, 228, 228);
    box-shadow: 0px 2px 0px 0px rgb(95, 95, 95);
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.nav_input{
    padding: .4rem;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    width: 300px;
}
.nav_input::placeholder{
    color:black;
}
.nav_form a img{
    width: 20px;
    height: 20px;
}
/* =============== header section ============== */
.header_container{
    margin-top: 150px;
    width: 100%;
    height: 75vh;
    display: flex;
    gap:20px;
}
.header_categ{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(230, 230, 230);
    align-items: center;
    border-radius: 20px;
}
.header_categ h2{
    background: white;
    width: 100%;
    height: 40px;
    margin-top: -16.5px;
    text-align: center;
    padding-top: 7px;
    text-transform: uppercase;
}
.slide{
    margin-top: 20px;
    width: 70%;
}
.header_img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.header_categ_links{
    color: grey;
    font-weight: bold;
}
.header_categ_links:hover{
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(5, 0, 57);;
    box-shadow: 2px 2px 0px 0px grey;
}
/* ========== Section ================ */
.section{
    margin-top: 3rem;
}
/* ========== CountDown ================ */
.section_category_p{
    border-left: 1.4rem solid grey;
    padding-left: 1.4rem;
    margin-bottom: 1.4rem;
    color: grey;
    font-size: 3rem;
    font-weight: bold;
}
.count_title{
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: grey;
    font-size: 1.3rem;
    padding: 0px 37%;
    gap: 35px;
}
.section_header{
    background: rgb(5, 1, 57);
    color: white;
    font-size: 5rem;
    font-weight: bold;
    box-shadow: 4px 4px 0px  0px grey;
    border-radius: 20px 20px 0 0;
}
.section_header p{
    text-align: center;
}
/* ============= slides with swiper ================== */
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .image{
    height: 180px;
    width: 100%;
}
.card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.swiper {
    display: flex;
  }
.card{
    position: relative;
    background: #cfcece;
    border-radius: 20px;
    margin: 20px 0;
    width: 100px;
    box-shadow: 10px 10px 5px rgb(60, 60, 60);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.about{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 10px;
}
.card .button,
.product_card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card .button button,
.product_card .button button{
    /* background: #ff8800; */
    background: white;
    color: black;
    outline: none;
    border: 2px solid rgb(5, 1, 57);
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    transition: all .3s ease;
    cursor: pointer;
}
.card .button button:hover,
.product_card .button button:hover{
    background: rgb(5, 1, 57);
    color: white;
}
/* ============== Trending ============= */
.trending{
    background-color: rgb(5, 1, 57);
    padding: 8rem 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap:2rem;
    align-items: center;
}
.trending img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.trending_p{
    color: grey;
    margin-bottom: 3rem;
}
.trending_title{
    color: white;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.trending_btn{
    color: white;
    background-color: rgb(255, 140, 0);
    box-shadow: 2px 2px 0px 0px grey;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    transition: all .3s ease;
}
.trending_btn:hover{
    background-color: rgb(5, 1, 57);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
/* =========== products ============= */
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:10px;
}
.product_card{
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 300px;
    box-shadow: 10px 10px 5px rgb(60, 60, 60);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
.product_card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.product_card_content .image img{
    width: 100%;
}
/* footer section */
footer{
    background: rgb(5, 1, 57);
    color: white;
    margin-top: 100px;
    padding: 70px 20px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer h3{
    color: grey;
}
footer ul{
    list-style: none;
    padding-left: 20px;
}
footer ul li{
    margin: 16px 0;
}
footer .links-container{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}
footer .social{
    margin-left: 20px;
}
footer .social a{
    margin: 28px;
}
footer form{
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}
footer form input{
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    width: 70%;
    color: #000;
}
footer form .submit-btn{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    background: grey;
    padding: 8px 32px;
    border: 0;
    line-height: 200%;
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
footer form .submit-btn:hover{
    background: var(--darkorange);
}
footer .copyright{
    margin-top: 36px;
    text-align: center;
}






















@media(max-width:900px){
    .top_nav_container{
        font-size: 7px;
    }
    .nav_logo{
        display: none;
    }
    .nav_list{
        display: none;
    }
    .nav_input{
        width: 200px;
    }
    .bar_icon{
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .header_categ{
        display: none;
    }
    .slide{
        width: 100%;
    }
}
@media(max-width:360px){
    .top_nav_container{
        font-size: 5px;
    }
    .nav_logo{
        display: none;
    }
    .nav_list{
        display: none;
    }
    .nav_input{
        width: 100px;
    }
    .bar_icon{
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .header_categ{
        display: none;
    }
    .slide{
        width: 100%;
    }
    .nav_icons a{
        display: none;
    }
    .count_title{
       display: none;
    }
    .section_header p{
        padding: 15px 0px;
        font-size: 1.5rem;
    }
    .trending{
        padding: 4rem 1rem;
    }
    .trending img{
        width: 97%;
    }
    .trending_title{
        font-size: 2rem;
    }
    .trending_p{
        font-size: 13px;
    }
    .trending_btn{
        font-size: 10px;
        padding: .5rem 1rem;
    }
}
